{% extends 'admin/base_site.html' %}

{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/override.css' %}" />

{% endblock %}

{% block pretitle %} 

    
{% endblock %}


{% block footer %}<div id="footer">
    
</div>{% endblock %}



{% block extrajs %}
    <!-- <script type="text/javascript" src="{% static 'js/my_project.js' %}"></script> -->
{% endblock %}

 <!-- Additional header content like notifications or language switcher  -->
