
.bg-gradient-1 {
    background: #536976;
    
    background: -webkit-linear-gradient(to right, #536976, #292e49);
    
    background: linear-gradient(to right, #536976, #292e49);
}
.bg-gradient-2 {
    background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0c0b0e);  
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    
}
.bg-gradient-3 {
    background: #667db6;  
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    
}
.bg-gradient-4 {
    background: #1a2a6c;  
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); 
    
}
.bg-gradient-5 {
    background: #283c86;  
    background: -webkit-linear-gradient(to right, #45a247, #283c86);  
    background: linear-gradient(to right, #45a247, #283c86); 
    
}
.bg-gradient-6 {
    background: #159957;  
    background: -webkit-linear-gradient(to right, #155799, #159957);  
    background: linear-gradient(to right, #155799, #159957); 
    
}
.bg-gradient-7 {
    background: #00416A;  
    background: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A);  
    background: linear-gradient(to right, #FFE000, #799F0C, #00416A); 
    
    
}

.bg-golden{
    background-color: #ff5a00;
    background: #ff5a00;
}

.text-golden{
    color:#ff5a00
}


.text-gradient-1 {
    color: #536976;
    
    color: -webkit-linear-gradient(to right, #536976, #292e49);
    
    color: linear-gradient(to right, #536976, #292e49);
}
.text-gradient-2 {
    color: #0f0c29;  
    color: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
    color: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    
}
.text-gradient-3 {
    color: #667db6;  
    color: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  
    color: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    
}
.text-gradient-4 {
    color: #1a2a6c;  
    color: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  
    color: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); 
    
}
.text-gradient-5 {
    color: #283c86;  
    color: -webkit-linear-gradient(to right, #45a247, #283c86);  
    color: linear-gradient(to right, #45a247, #283c86); 
    
}
.text-gradient-6 {
    color: #159957;  
    color: -webkit-linear-gradient(to right, #155799, #159957);  
    color: linear-gradient(to right, #155799, #159957); 
    
}
.text-gradient-7 {
    color: #00416A;  
    color-interpolation-filters: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A);  
    color: linear-gradient(to right, #FFE000, #799F0C, #00416A); 
    
    
}
