{% extends 'base.html' %}
{% load static %}

{% block title %} প্রতিষ্ঠান {% endblock title %}

{% block custom_style %}    

<link rel="stylesheet" href="{% static 'css/team.css' %}">
<style>
    .transparent-bgopc {
        background: rgb(1, 16, 29);
        color: #fff;
        opacity: 0.7;
    }

    .carousel-caption {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }

    @media screen and (max-width: 400px) {
        .d-block {
            height: 350px;
        }
    }

    .list-group-item {
        margin-bottom: 0px;
    }

    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .gallery-top {
        height: 80%;
        width: 100%;
    }

    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
    }
</style>
{% endblock custom_style %}    

{% block content %}


{% load cropping %}


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner " style="width: 100%;">
        <div class="carousel-item active ">
            <img class="d-block w-100 " style="max-width:100%;
            max-height:100%;
            vertical-align: middle;" height="320px" src="{% static 'images/bg-4.jpg' %}" alt="First slide">
            <div class="carousel-caption transparent-bgopc" style="  ">
                <div class="text-center text-white m-5">
                    <h1 class="" style="font-family: titlefont !important;">রেড লাভ ব্লাড সোসাইটি , নরসিংপুর</h1>
                    <p class="py-3 font-weight-bold text-warning" style="line-height:26px;"> নরসিংপুর এর রক্ত সংকট
                        মোকাবিলা করার জন্যে আমাদের প্রতিষ্ঠান সর্বদা কাজ করবে </p>
                </div>
            </div>

        </div>
        <div class="carousel-item  ">
            <img class="d-block w-100 " height="320px" src="{% static 'images/bg-2.jpg' %}" alt="First slide">
            <div class="carousel-caption transparent-bgopc" style="  ">
                <div class="text-center text-white m-5">
                    <h1 class="" style="font-family: titlefont !important;">রেড লাভ ব্লাড সোসাইটি , নরসিংপুর</h1>
                    <p class="py-3 font-weight-bold" style="line-height:26px;color:chartreuse"> আমরা আমাদের সংগঠনের
                        কার্যক্রম আরও বাড়াতে থাকব </p>
                </div>
            </div>

        </div>
        <div class="carousel-item  ">
            <img class="d-block w-100 " height="320px" src="{% static 'images/bg-3.jpg' %}" alt="First slide">
            <div class="carousel-caption transparent-bgopc" style="  ">
                <div class="text-center text-white m-5">
                    <h1 class="" style="font-family: titlefont !important;">রেড লাভ ব্লাড সোসাইটি , নরসিংপুর</h1>
                    <p class="p-3 font-weight-bold " style="line-height:26px;color:rgb(0, 255, 170)"> ইউনিয়নের প্রত্যেক
                         জায়গায় গিয়ে আমরা ফ্রী তে রক্ত পরীক্ষা করার চেস্টা করব </p>
                </div>
            </div>

        </div>
        <div class="carousel-item ">
            <img class="d-block w-100 " height="320px" src="{% static 'images/bg-6.jpg' %}" alt="First slide">
            <div class="carousel-caption transparent-bgopc " style="  ">
                <div class="text-center text-white m-5">
                    <h1 class="" style="font-family: titlefont !important;">রেড লাভ ব্লাড সোসাইটি , নরসিংপুর</h1>
                    <p class="p-3 font-weight-bold " style="line-height:26px;color:rgb(0, 255, 170)"> ব্লাড ডোনার খুজার
                        সহজ ও অনলাইন সমাধান নিয়ে আসছি আমাদের রেড লাভ ব্লাড সোসাইটির পক্ষ থেকে </p>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container px-4 py-4">

    <div class="bg-white" ">
        <h5 class="p-2 text-white font-weight-bold text-center mb-0" style="background-color: rgb(27, 37, 92)">  লক্ষ্য ও উদ্দেশ্য </h5>

        <div class="">

            <ul class="list-group list-group-flush">
                <li class="list-group-item font-weight-bold " style="color:rgb(27, 37, 92)" ><i class="fas fa-arrow-alt-circle-right pr-2"></i>পার্শ্ববর্তী ইউনিয়নের সকল ব্লাড ডোনারদের এক জায়গায় নিয়ে আসা ।   
                </li>
                <li class="list-group-item  font-weight-bold" style="color:rgb(27, 37, 92)"><i class="fas fa-arrow-alt-circle-right pr-2"></i>রক্ত দাতা যেন সহজে পাওয়া যায় সেই ব্যাবস্থা  করা । </li>
                <li class="list-group-item font-weight-bold" style="color:rgb(27, 37, 92)"><i class="fas fa-arrow-alt-circle-right pr-2"></i>ইউনিয়নের সকল মানুষের রক্ত গ্রুপ নিশ্চিত করা । </li>
                <li class="list-group-item font-weight-bold" style="color:rgb(27, 37, 92)"><i class="fas fa-arrow-alt-circle-right pr-2" style="color:rgb(27, 37, 92)"></i>আমাদের যোগ্য সদস্য থাকবে যারা একান্ত নিজ ইচ্ছায় রক্ত সহায়তায় এগিয়ে আসবে । </li>
                <li class="list-group-item font-weight-bold " style="color:rgb(27, 37, 92)"><i class="fas fa-arrow-alt-circle-right pr-2"></i>আমাদের থেকে রক্ত চেয়ে যেন কেউ ফেরত যেতে না হয় সেই ব্যাবস্থা করা, এটাই আমাদের প্রধান লক্ষ্য । </li>
            </ul>

        </div>

    </div>


<!-- Swiper org gallery -->

    <div class=" bg-white py-5" style="margin: 0px !important;">
        <h5 class="p-2 text-white font-weight-bold text-center " style="background-color: rgb(27, 37, 92);"> কার্যক্রম ও স্মৃতিসমুহ </h5>
        <div class="swiper-container gallery-top ">

            <div class="swiper-wrapper" style="height: 300px;">
                {% if org_activities %}
                {% for activity in org_activities %}
                <div class="swiper-slide bg-light" style="background-image:url('{{activity.image.url}}');height:300px;background-size:contain;background-repeat: no-repeat;
                "></div>
                
                {%endfor%}
                {% endif  %}
               
        
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-dark"></div>
            <div class="swiper-button-prev swiper-button-dark"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper ">
                {% if org_activities %}
                {% for activity in org_activities %}
                <div class="swiper-slide" style="height: 200px;
                background-size: 100% 100%;
                 background-image:url('{{activity.image.url}}');"></div>
                
                {%endfor%}
                {% endif %}
               
               
            </div>
        </div>
    </div>

</div>





<div class="container px-4 my-3 ">
    <h5 class="p-2 text-white font-weight-bold text-center" style="background-color: rgb(27, 37, 92)">রেড লাভ পরিবার </h5>

    <div class="text-center mb-2">
        <span class="badge badge-pill badge-danger p-2 font-weight-bold" style="font-size:16px">স্থায়ী কমিটি</span>
    </div>

    <div class="row">
  
        {% if permanent_member %}
        {% for member in permanent_member  %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team bg-light">
                <div class="picture" >
                    <img class="img-fluid" style="width: 130px;height:130px"  src="{{member.image.url}}">
                    <!-- {% if member.image %}
                    <img class="img-fluid" style="width: 130px;height:130px" src="{% cropped_thumbnail member "cropping" scale=0.5  %}">
                    
                    {% endif %} -->

                </div>
                <div class="team-content " style="margin-top: -30px;">
                    <h5 class="name font-weight-bold text-info">{{member.donor.name}}</h5>
                    <h6 class="title text-info">{{member.get_organisation_position_display }}</h6>
                    <h6 class="title text-muted" >পেশা: {{member.occupation}}</h6>
                    <h6 class="title text-muted">ব্লাড গ্রুপ: {{member.donor.blood_group}}</h6>
                    
                </div>
                <ul class="social">
                    <li><a href="{% if member.facebook_link %} {{member.facebook_link}} {%else %}#{% endif %}" class="fab fa-facebook" aria-hidden="true" target="_blank" ><span class="pl-1">facebook</span></a>
                    </li>
                    <li class="text-white fas fa-phone "><span class="pl-1">{{member.donor.phone}}</span></li>
                    
                </ul>
            </div>
        </div>

        {% endfor %}

        {% endif %}
      
      
    </div>

    <div class="text-center mb-2">
        <span class="badge badge-pill badge-danger p-2 font-weight-bold" style="font-size:16px"> কার্য নির্বাহী কমিটি</span>
    </div>
    <div class="row">

        {% if comittee_member %}
        {% for member in comittee_member  %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team bg-light">
                <div class="picture" >
                    <!-- <img class="img-fluid" style="width: 130px;height:130px"  src="{{member.image.url}}"> -->
                    {% if member.image %}
                    <img class="img-fluid" style="width: 130px;height:130px" src="{% cropped_thumbnail member "cropping" scale=0.5  %}">
                    
                    {% endif %}

                </div>
                <div class="team-content " style="margin-top: -30px;">
                    <h5 class="name font-weight-bold text-info">{{member.donor.name}}</h5>
                    <h6 class="title text-info">{{member.get_organisation_position_display }}</h6>
                    <h6 class="title text-muted" >পেশা: {{member.occupation}}</h6>
                    <h6 class="title text-muted">ব্লাড গ্রুপ: {{member.donor.blood_group}}</h6>
                    
                </div>
                <ul class="social">
                    <li><a href="{% if member.facebook_link %} {{member.facebook_link}} {%else %}#{% endif %}" class="fab fa-facebook" aria-hidden="true" target="_blank" ><span class="pl-1">facebook</span></a>
                    </li>
                    <li class="text-white fas fa-phone "><span class="pl-1">{{member.donor.phone}}</span></li>
                    
                </ul>
            </div>
        </div>

        {% endfor %}

        {% endif %}
      
      
    </div>

    <div class="row">

        {% if all_member %}
        {% for member in all_member  %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team bg-light">
                <div class="picture" >
                    <!-- <img class="img-fluid" style="width: 130px;height:130px"  src="{{member.image.url}}"> -->
                    {% if member.image %}
                    <img class="img-fluid" style="width: 130px;height:130px;"  src="{% cropped_thumbnail member "cropping" scale=0.5  %}">
                    
                    {% endif %}

                </div>
                <div class="team-content " style="margin-top: -30px;">
                    <h5 class="name font-weight-bold text-info">{{member.donor.name}}</h5>
                    <h6 class="title text-info">{{member.get_organisation_position_display }}</h6>
                    <h6 class="title text-muted" >পেশা: {{member.occupation}}</h6>
                    <h6 class="title text-muted">ব্লাড গ্রুপ: {{member.donor.blood_group}}</h6>
                    
                </div>
                <ul class="social">
                    <li><a href="{% if member.facebook_link %} {{member.facebook_link}} {%else %}#{% endif %}" class="fab fa-facebook" aria-hidden="true" target="_blank" ><span class="pl-1">facebook</span></a>
                    </li>
                    <li class="text-white fas fa-phone "><span class="pl-1">{{member.donor.phone}}</span></li>
                    
                </ul>
            </div>
        </div>

        {% endfor %}

        {% endif %}
      
      
    </div>

</div>


{% endblock content %}


{% block script %}

<script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 10,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        thumbs: {
            swiper: galleryThumbs
        }
    });
</script>


{% endblock script %}