<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock title %} </title>

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="রেড লাভ ব্লাড সোসাইটি" /> 
    <meta property="og:image" content="{% static '/images/red_love_share_2.PNG' %}" /> 
    <meta property="og:description" content="এখানে সকল ব্লাড ডোনার সহজে পাওয়া যাবে এবং যারা ব্লাড ডোনার হতে চান তারাও সহজে যোগ দিতে পারবে। ব্লাড ডোনার খুজার সহজ সমাধান এখানেই। " /> 
    <meta property=”og:type” content=”website” />
    

    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static '/logo/logo-1.jpg' %}" />

    <link rel="stylesheet" type="text/css" href="{% static '/css/common.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/font.css' %}">

    

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js">
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"> </script>

    <link rel="stylesheet" type="text/css" href="{% static '/css3-animate-it/css/animations.css'   %}">
    <link rel="stylesheet" type="text/css" href="{% static '/swiper/css/swiper.min.css'   %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">


    <link rel="stylesheet" type="text/css" href="{% static '/css/slide-show.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/new-footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/love.css' %}">

   
    {% block custom_style %}
    
    <style>
        /* this style for love animation, If i want to add love in any file then change this style height,it will up from height */
        .new-style{
            height: 0px; 
        }
        .nav-header{
            font-size:20px ; 
            letter-spacing: 0.2rem ;  
            font-family: titlefont !important ;
           
        }
        
    </style>
       
    {% endblock custom_style %}   
           


</head>



<body style="font-family: Georgia, 'Times New Roman', Times, serif;">

    <div class="se-pre-con"></div>



    {% block extra_animation %}     
        <div class="bg_heart new-style" ></div>
    {% endblock extra_animation %}   
           

    {% include 'navbar.html' %}

    {% block content %}
    
    {% endblock content %}

    {% include 'footer.html' %}
 
   

    <script type="text/javascript" src="{% static '/js/app.js' %}"></script>
    <script type="text/javascript" src="{% static '/css3-animate-it/js/css3-animate-it.js' %} "></script>
    <script type="text/javascript" src="{% static '/swiper/js/swiper.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> 

    <script type="text/javascript" src="{% static '/custom/js/love.js' %}"></script>
    <script type="text/javascript" src="{% static '/custom/js/vertical-loop.js' %}"></script>
    <script type="text/javascript" src="{% static '/custom/js/common.js' %}"></script>

    {% block script %}
   
  
   
   
    <script>
        
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "4000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $(document).ready(function() { 
            {% if messages %}
           
                {% for message in messages %}
                    toastr.{{ message.tags }}('{{ message }}');
                {% endfor %}
            {% endif %}

        });
         


        
       
    </script>

    {% endblock script %}
    
    


</body>

</html>