   
<footer class="site-footer " id="contact">
    <div class="footer-widgets bg-dark">
        <div class="container">
            <h2 style="color:#00BFF3">আপনারা প্রয়োজনে আমাদের সাথে যোগাযোগ করতে পারেন
            </h2>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 border-bottom border-info mb-5 pb-3 ">
                            <section class="">
                                <h4 class="text-info"> <i class="fa fa-address-book" aria-hidden="true"></i> মোবাইল </h3>
                                <p class="pl-2 " style="margin-left: 2rem;">
                                    {% for phone_list in contacts.phonelist.all %}
                                    <a href="tel:{{phone_list.phone}}" data-toggle="tooltip" data-placement="top" title="{{phone_list.name}}">{{phone_list.phone}}</a><br>
                                    
                                    {% endfor %}
                                  
                                </p>
                            </section>
                        </div>
                        <div class="col-md-6 col-sm-12 border-bottom border-info mb-5 pb-3 ">
                            <section>
                                <h4 class="text-info"> <i class="fa fa-address-book" aria-hidden="true"></i> ইমেইল</h3>
                                <p class="pl-2" style="margin-left: 2rem;">
                                    {% for email_list in contacts.emaillist.all %}
                                    <a href="mailto:{{email_list.email}}">{{email_list.email}}</a><br>
                                    
                                    {% endfor %}
                                    

                                </p>
                            </section>
                        </div>
                        <div class="col-md-6 col-sm-12 border-bottom border-info mb-5 pb-3 ">
                            <section>
                                <h4 class="text-info"> <i class="fas fa-address-card"></i> ঠিকানা</h3>
                                <p class="pl-2" style="margin-left: 2rem;">
                                    {{contacts.address}}
                                </p>
                            </section>
                        </div>
                        <div class="col-md-6 col-sm-12 border-bottom border-info mb-5 pb-3 ">
                            <section>
                                <h4 class="text-info"> <i class="fas fa-handshake"></i> সামাজিক মাধ্যম</h4>
                                <p class="pl-2 " style="margin-left: 2rem; ">
                                    <div class="d-flex flex-row">
                                        <div class="p-2 " data-toggle="tooltip" data-placement="top" title="ফেসবুক পেজ, এখানে গিয়ে মেসেজ করতে পারেন"> 
                                            <a class="text-primary" href=" {{contacts.fb_group_link}}" target="_blank"> <i class="fab fa-facebook-square fa-2x" aria-hidden="true" ></i></a>
                                        </div>
                                        {% if contacts.youtube_link %}
                                        <div class="p-2" data-toggle="tooltip" data-placement="top" title="ইউটিউব"><a style="color: rgba(247, 6, 6, 0.733);" href="{{contacts.youtube_link}}"> <i class="fab fa-youtube fa-3x"></i> </a></div>
                                        {% endif %}
                                       
                                      </div>
                                </p>
                            </section>
                        </div> 
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5 col-sm-12">
                    <h4 class="text-danger pb-2">আপনি জিজ্ঞাসা করতে চান ? </h4>
                    <form action="{% url 'message' %}" data-message-url="{% url 'message' %}" id="msg_form"
                    enctype="multipart/form-data"  method="POST" >
                         {% csrf_token %} 
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
  
                                    <input type="text" name="name" class="form-control" id="id_contact_name"
                                        aria-describedby="emailHelp" placeholder="আপনার নাম" required/>
  
                                </div>
  
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
  
                                    <input type="text" name="phone" class="form-control" id="id_phone_number"
                                        placeholder="মোবাইল" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
  
                            <textarea name="message" class="form-control" placeholder="বিস্তারিত" id="id_message" rows="4" required></textarea>
                        </div>
                        <div class="">
                            <button id="id_send_btn" type="submit"  class="btn-lg btn-primary px-4">SEND</button>
                            <button type="reset" class="btn-lg    btn-outline-primary">RESET</button>
                           
                        </div>
                    </form>
                </div>
                
              
            </div>
        </div><!-- .container -->
    </div><!-- .footer-widgets -->
  
    <div class="footer-bar m-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="m-0">
                        Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This is made for Bangladesh <i
                            class="text-danger fa fa-heart" aria-hidden="true"></i> <span class="pl-0">Developed
                            by</span> <a href="https://web.facebook.com/jubel4926" target="_blank">Jubel Ahmed</a>
                    </p>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
  </footer>

