<style>
    .mswiper-container {
        width: 100%;
        height: 300px;
        margin: 20px auto;
      }
      .mswiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
  
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .append-buttons {
        text-align: center;
        margin-top: 20px;
      }
      .append-buttons a {
        display: inline-block;
        border: 1px solid #007aff;
        color: #007aff;
        text-decoration: none;
        padding: 4px 10px;
        border-radius: 4px;
        margin: 0 10px;
        font-size: 13px;
      }
</style>

<div class="mswiper-container">
    <div class="mswiper-wrapper">
      <div class="mswiper-slide">Slide 1</div>
      <div class="mswiper-slide">Slide 2</div>
      <div class="mswiper-slide">Slide 3</div>
      <div class="mswiper-slide">Slide 4</div>
    </div>
    <!-- Add Pagination -->
    <div class="mswiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="mswiper-button-next"></div>
    <div class="mswiper-button-prev"></div>
  </div>
  <p class="append-buttons">
    <a href="#" class="prepend-2-slides">Prepend 2 Slides</a>
    <a href="#" class="prepend-slide">Prepend Slide</a>
    <a href="#" class="append-slide">Append Slide</a>
    <a href="#" class="append-2-slides">Append 2 Slides</a>
  </p>

  <script>
    var appendNumber = 4;
    var prependNumber = 1;
    var mswiper = new mSwiper('.mswiper-container', {
      slidesPerView: 3,
      centeredSlides: true,
      spaceBetween: 30,
      pagination: {
        el: '.mswiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.mswiper-button-next',
        prevEl: '.mswiper-button-prev',
      },
    });
    document.querySelector('.prepend-2-slides').addEventListener('click', function (e) {
      e.preventDefault();
      mswiper.prependSlide([
        '<div class="mswiper-slide">Slide ' + (--prependNumber) + '</div>',
        '<div class="mswiper-slide">Slide ' + (--prependNumber) + '</div>'
        ]);
    });
    document.querySelector('.prepend-slide').addEventListener('click', function (e) {
      e.preventDefault();
      mswiper.prependSlide('<div class="mswiper-slide">Slide ' + (--prependNumber) + '</div>');
    });
    document.querySelector('.append-slide').addEventListener('click', function (e) {
      e.preventDefault();
      mswiper.appendSlide('<div class="mswiper-slide">Slide ' + (++appendNumber) + '</div>');
    });
    document.querySelector('.append-2-slides').addEventListener('click', function (e) {
      e.preventDefault();
      mswiper.appendSlide([
        '<div class="mswiper-slide">Slide ' + (++appendNumber) + '</div>',
        '<div class="mswiper-slide">Slide ' + (++appendNumber) + '</div>'
        ]);
    });
  </script>